
header{
font-family:  'Georgia', Times, 'Times New Roman', serif;
background: #4aaaa5;
border: #cccccc;
max-width: 39px;
padding: 20px;
  margin-bottom: 20px;
  color: #333;}

footer{
background-color: #ffffff; }

body{ 
font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size: medium}

.gallery{ 
color: #4aaaa5;}
image{
    border: 1px solid #ffffff;}